
 body{
background: #fff;
 }
 .col.grid-example {
 	width: 100%;
 	height: 212px;
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    background-color: #717187;
    color: white;
    margin-top: 5px;
    padding: 0;
}
.margin-mapa{
	margin-bottom: 0px;
}
.vertical-scroll{
	height: 520px;
	width: 410px;
	border: 1px solid #ddd;
	background: #f1f1f1;
	overflow-y: scroll;
}
.bubble{
	height: 120px;
	width: 100%;
	text-align: center;
	line-height: 50px;
    font-size: 28px;
	background-color: tomato;
}
.logo{
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 20px;
}
table {
    font-size: 15px;
    width:20%;
    border-spacing: 1px;
    border-collapse: separate;
}
th, td {
    padding:3px;
}
.ttabla{
	border-bottom: 2px solid rgba(0,0,0,0.2);
	margin-bottom: 0px;
}
.c{
	padding-left:68px; 
}
.stat{
	height: 40px;
	margin-bottom: 0px;
}
.clock{
  justify-content: space-around;
  line-height:40px;
}
.vertical{
	line-height:80px;
}
.burbuja{
	height: 40px;
	width: 60px;
	text-align: center;
	line-height: 20px;
}
.puntos{
	margin-top: -25px;
}
.puntosadn{
	width: 150px;
	text-align: center;
	padding-right: 18px;
	margin-top:-10px;
}
#adn{
	margin-top: 0px;
}
.adn{
	margin-bottom: -8px;
}
.dias{
	margin-bottom:0px;
	margin-top:10px;
}

.botones{
	height:30px;  
	background-color: #717187; 
	border:0px
}

.desaturada{ 
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.no-desaturada{ 
	filter: grayscale(0%); 
	-webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}