<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Plague INC</title>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="../css/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
  <script src="../js/vendor/jquery-2.1.1.min.js"></script>
  <script src="../js/vendor/underscorejs.min.js"></script>
  <script src="../js/vendor/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="../js/vendor/jquery-jvectormap-ve-mill.js"></script>
</head>
<body>
	
	<div class="row margin-mapa" style="">
	  <div class="col s12 m7">
		  <div id="world-map" style="width: 561px; height: 400px"></div>
		  <div class="col s12 bubble">
			  <div class="row ">
				<div class="col s3">
					<div class="row dias">
						<div class="clock">
							<span id="dias" class="flow-text">0</span>
							<span id="unidad" class="flow-text">días</span>
						</div>
					</div>
					<div class="row">
						<div class="puntosadn">
							<h5 class="flow-text adn">Puntos ADN</h5>
							<span id="adn" class="flow-text">0</span>
						</div>
					</div>
				</div>
				<div class="col s3 vertical">
					<button class="btn-floating btn-large waves-effect waves-light red center disabled">
						 <img src="../images/biohazard.png" alt="" class="circle responsive-img burbuja">
					</button>
					<div class="puntos">
						<span id="puntos" class="flow-text">0</span>
					</div>
					
				</div>
				<div class="col s3 vertical">
					<button class="btn-floating btn-large waves-effect waves-light orange center disabled">
						 <img src="../images/biohazard.png" alt="" class="circle responsive-img burbuja">
					</button>
					<div class="puntos">
						<span id="puntos" class="flow-text">0</span>
					</div>
				</div>
				<div class="col s3 vertical">
					<button class="btn-floating btn-large waves-effect waves-light blue center disabled">
						 <img src="../images/biohazard.png" alt="" class="circle responsive-img burbuja">
					</button>
					<div class="puntos">
						<span id="puntos" class="flow-text">0</span>
					</div>
				</div>
			   </div>	
		
		</div>
	  </div>
	  <div class="col s12 m5 vertical-scroll">
	  <div class="row ttabla">
		  	 <div class="col s3">
	          <h6>Estados</h6>
	        </div>
	         <div class="col s3">
	          <h6>Poblacion</h6>
	        </div>
	         <div class="col s3">
	          <h6>Contagiados</h6>
	        </div>
	         <div class="col s3">
	          <h6>Muertes</h6>
	        </div>
        </div>
        <div id="table">
        	
        </div>
	  </div>
	</div>

	<div class="row" style="height:120px">
		<div class="col s12 m4 grid-example">

		<div class="row stat">
			<div class="col s5">
			Poblacion
			</div>
			<div class="col s7">
				 <div class="progress" style="margin-top:15px">
      			<div id="pbporcentaje" class="determinate" style="width: 0%"></div>
  				</div>
  				<div id="porce_poblacion"></div>
  				<div id="pbtotal"></div>
			</div>
		</div>
		
		<div class="row stat">
			<div class="col s5">
			Contagiados
			</div>
			<div class="col s7">
				 <div class="progress" style="margin-top:15px">
      			<div id="ctporcentaje" class="determinate" style="width: 0%;background-color: #FF0000"></div>
  				</div>
  				<div id="porce_contagiados"></div>
  				<div id="cttotal"></div>
			</div>
		</div>
		
		<div class="row stat">
			<div class="col s5">
			Muertes
			</div>
			<div class="col s7">
				 <div class="progress" style="margin-top:15px">
      			<div id="mtporcentaje" class="determinate" style="width: 0%; background-color: #190707"></div>
  				</div>
  				<div id="porce_muertes"></div>
  				<div id="mttotal"></div>
			</div>
		</div>


		
		
		</div>
		<div class="col s12 m4 grid-example">
		<span class="flow-text">This div is 12-columns wide on all screen sizes</span>
		</div>
		<div class="col s12 m4 grid-example">
		<span class="flow-text">This div is 12-columns wide on all screen sizes</span>
		</div>
	
	</div>
	
     <script type="text/template" id="tabletemplate"> 
	    <table> 
	      <tbody>
	        <% _.each(estados, function(estado, key, list) { %> 
	              <tr> 
	                  <td> <%= estado.nombre %></td>
	                  <td> <%= estado.poblacion %></td>
	                  <td class="c"> <%= estado.contagiados %></td>
	                  <td class="c"> <%= estado.muertes %></td>
	              </tr>
	        <% });%>
	    </tbody > 
	   </table>
    </script>


  <script src="../js/script.js"></script>
  
</body>
</html>