<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Plague INC</title>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link href="../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
   <link rel="stylesheet" href="../css/jquery-jvectormap-2.0.3.css" type="text/css" media="screen"/>
  <script src="../js/vendor/jquery-2.1.1.min.js"></script>
  <script src="../js/vendor/underscorejs.min.js"></script>
  <script src="../js/vendor/jquery-jvectormap-2.0.3.min.js"></script>
  <script src="../js/vendor/jquery-jvectormap-ve-mill.js"></script>
</head>
<body>
	
	<div class="row margin-mapa" style="">
	  <div class="col s12 m7">
		  <div id="world-map" style="width: 551px; height: 400px"></div>
		  <div class="col s12 bubble">
			  <div class="row ">
				<div class="col s3">
					<div class="row dias">
						<div class="clock">
							<span id="dias" class="flow-text">0</span>
							<span id="unidad" class="flow-text">días</span>
						</div>
					</div>
					<div class="row">
						<div class="puntosadn">
							<h5 class="flow-text adn">Puntos ADN</h5>
							<span id="adn" class="flow-text">0</span>
						</div>
					</div>
				</div>
				<div class="col s3 vertical">
					<button id="bubble_red" class="btn-floating btn-large waves-effect waves-light red center disabled">
						 <img src="../images/biohazard.png" alt="" class="circle responsive-img burbuja">
					</button>
					<div class="puntos">
						<span id="puntos" class="flow-text">0</span>
					</div>
					
				</div>
				<div class="col s3 vertical">
					<button id="bubble_orange" class="btn-floating btn-large waves-effect waves-light orange center disabled">
						 <img src="../images/adn.png" alt="" class="circle responsive-img burbuja">
					</button>
					<div class="puntos">
						<span id="puntos" class="flow-text">0</span>
					</div>
				</div>
				<div class="col s3 vertical">
					<button id="bubble_blue" class="btn-floating btn-large waves-effect waves-light blue center disabled">
						 <img src="../images/cura.png" alt="" class="circle responsive-img burbuja">
					</button>
					<div class="puntos">
						<span id="puntos" class="flow-text">0</span>
					</div>
				</div>
			   </div>	
		
		</div>
	  </div>
	  <div class="col s12 m5 vertical-scroll">
        <div id="table">
        </div>
	  </div>
	</div>

	<div class="row" style="height:120px">
		<div class="col s12 m4 grid-example">

		<div class="row stat">
			<div class="col s5">
			Población
			</div>
			<div class="col s7">
				 <div class="progress" style="margin-top:15px">
      			<div id="pbporcentaje" class="determinate" style="width: 0%"></div>
  				</div>
  				<div id="porce_poblacion"></div>
  				<div id="pbtotal"></div>
			</div>
		</div>
		
		<div class="row stat">
			<div class="col s5">
			Contagiados
			</div>
			<div class="col s7">
				 <div class="progress" style="margin-top:15px">
      			<div id="ctporcentaje" class="determinate" style="width: 0%;background-color: #FF0000"></div>
  				</div>
  				<div id="porce_contagiados"></div>
  				<div id="cttotal"></div>
			</div>
		</div>
		
		<div class="row stat">
			<div class="col s5">
			Muertes
			</div>
			<div class="col s7">
				 <div class="progress" style="margin-top:15px">
      			<div id="mtporcentaje" class="determinate" style="width: 0%; background-color: #190707"></div>
  				</div>
  				<div id="porce_muertes"></div>
  				<div id="mttotal"></div>
			</div>
		</div>
 
        </div>

		<div class="col s12 m4 grid-example">

				<div class="col s3">
					
					<div>Transmisión</div>

					<div class="col s6" style="padding:0px">

					<button onclick="adquirir_aire1()" class="waves-teal waves-effect botones" id="boton_aire1" disabled="false">
						 <img id="aire1" title="Aire 1" src="../images/aire.png" alt=""  class="circle responsive-img burbuja desaturada">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="aire1adn">8</span>ADN</span>
					
					<button onclick="adquirir_agua1()" class="waves-teal waves-effect botones"  id="boton_agua1" disabled="false">
						<img id="agua1" title="Agua 1" src="../images/agua.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="agua1adn">8</span>ADN</span>

					<button onclick="adquirir_animal1()" class="waves-effect waves-teal botones"  id="boton_animal1" disabled="false">
						<img id="animal1" title="Animal 1" src="../images/animal.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="animal1adn">7</span>ADN</span>
					
					</div>

					<div class="col s6" style="padding:0px">
					
					<button onclick="adquirir_aire2()" class="waves-teal waves-effect botones"  id="boton_aire2" disabled="false">
						 <img id="aire2" title="Aire 2" src="../images/aire.png" alt=""  class="circle responsive-img burbuja desaturada">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="aire2adn">16</span>ADN</span>

					<button onclick="adquirir_agua2()" class="waves-teal waves-effect botones"  id="boton_agua2" disabled="false">
						<img id="agua2" title="Agua 2" src="../images/agua.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="agua2adn">16</span>ADN</span>

					<button onclick="adquirir_animal2()" class="waves-effect waves-teal botones"  id="boton_animal2" disabled="false">
						<img id="animal2" title="Animal 2" src="../images/animal.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="animal2adn">14</span>ADN</span>
					</div>

					</div>

				<div class="col s5">
					
					<div>Sintomas</div>

					<div class="col s4" style="padding:0px">

					<button onclick="adquirir_tos()" class="waves-teal waves-effect botones" id="boton_tos" disabled="false">
						 <img id="tos" title="Tos" src="../images/tos.png" alt=""  class="circle responsive-img burbuja desaturada">
					</button>
					<span style="font-size:8px"><span style="font-size:12px"id="tosadn">8</span> ADN</span>
					
					<button onclick="adquirir_diarrea()" class="waves-teal waves-effect botones"  id="boton_diarrea" disabled="false">
						<img id="diarrea" title="Diarrea" src="../images/diarrea.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="diarreaadn">8</span> ADN</span>

					<button onclick="adquirir_insomnio()" class="waves-effect waves-teal botones"  id="boton_insomnio" disabled="false">
						<img id="insomnio" title="Insomnio" src="../images/insomnio.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="insomnioadn">7</span> ADN</span>
					
					</div>


					<div class="col s4" style="padding:0px">
					
					<button onclick="adquirir_neumonia()" class="waves-teal waves-effect botones"  id="boton_neumonia" disabled="false">
						 <img id="neumonia" title="Neumonía" src="../images/neumonia.png" alt=""  class="circle responsive-img burbuja desaturada">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="neumoniaadn">16</span> ADN</span>

					<button onclick="adquirir_anemia()" class="waves-teal waves-effect botones"  id="boton_anemia" disabled="false">
						<img id="anemia" title="Anemia" src="../images/anemia.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="anemiaadn">16</span> ADN</span>

					<button onclick="adquirir_locura()" class="waves-effect waves-teal botones"  id="boton_locura" disabled="false">
						<img id="locura" title="Locura" src="../images/locura.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="locuraadn">14</span> ADN</span>
					</div>



					<div class="col s4" style="padding:0px">
						

					<button onclick="adquirir_fibrosis()" class="waves-teal waves-effect botones"  id="boton_fibrosis" disabled="false">
						 <img id="fibrosis" title="Fibrosis" src="../images/fibrosis.png" alt=""  class="circle responsive-img burbuja desaturada">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="fibrosisadn">16</span> ADN</span>

					<button onclick="adquirir_hemorragia()" class="waves-teal waves-effect botones"  id="boton_hemorragia" disabled="false">
						<img id="hemorragia" title="Hemorragia" src="../images/hemorragia.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="hemorragiaadn">16</span> ADN</span>

					<button onclick="adquirir_cerebro()" class="waves-effect waves-teal botones"  id="boton_cerebro" disabled="false">
						<img id="cerebro" title="Cerebro" src="../images/cerebro.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="cerebroadn">14</span> ADN</span>
					</div>


					</div>



				<div class="col s3">
					
					<div>Resistencia</div>

					<div class="col s6" style="padding:0px">

					<button onclick="adquirir_frio1()" class="waves-teal waves-effect botones" id="boton_frio1" disabled="false">
						 <img id="frio1" title="Frío 1" src="../images/frio.png" alt=""  class="circle responsive-img burbuja desaturada">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="frio1adn">8</span> ADN</span>
					
					<button onclick="adquirir_calor1()" class="waves-teal waves-effect botones"  id="boton_calor1" disabled="false">
						<img id="calor1" title="Calor 1" src="../images/calor.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="calor1adn">8</span> ADN</span>

					<button onclick="adquirir_medicamento1()" class="waves-effect waves-teal botones"  id="boton_medicamento1" disabled="false">
						<img id="medicamento1" title="Medicamento 1" src="../images/medicamento.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px"  id="medicamento1adn">7</span> ADN</span>
					
					</div>

					<div class="col s6" style="padding:0px">
					
					<button onclick="adquirir_frio2()" class="waves-teal waves-effect botones" id="boton_frio2" disabled="false">
						 <img id="frio2" title="Frío 2" src="../images/frio.png" alt=""  class="circle responsive-img burbuja desaturada">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="frio2adn">8</span> ADN</span>
					
					<button onclick="adquirir_calor2()" class="waves-teal waves-effect botones"  id="boton_calor2" disabled="false">
						<img id="calor2" title="Calor 2" src="../images/calor.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="calor2adn">8</span> ADN</span>

					<button onclick="adquirir_medicamento2()" class="waves-effect waves-teal botones"  id="boton_medicamento2" disabled="false">
						<img id="medicamento2" title="Medicamento 2" src="../images/medicamento.png" class="circle responsive-img burbuja desaturada" alt="">
					</button>
					<span style="font-size:8px"><span style="font-size:12px" id="medicamento2adn">7</span> ADN</span>

					</div>

					</div>

		</div>



		<div class="col s12 m4 grid-example">

		<div class="row stat">
			<div class="col s5">
			Infectividad
			</div>
			<div class="col s7">
				 <div class="progress" style="margin-top:15px">
      			<div id="infecporcentaje" class="determinate" style="width: 50%;background-color: #FF00FF"></div>
  				</div>
  				<div id="infectotal"></div>
			</div>
		</div>
		
		<div class="row stat">
			<div class="col s5">
			Severidad
			</div>
			<div class="col s7">
				 <div class="progress" style="margin-top:15px">
      			<div id="severporcentaje" class="determinate" style="width: 50%;background-color: #FFFF00"></div>
  				</div>
  				<div id="severtotal"></div>
			</div>
		</div>
		
		<div class="row stat">
			<div class="col s5">
			Letalidad
			</div>
			<div class="col s7">
				 <div class="progress" style="margin-top:15px">
      			<div id="letalporcentaje" class="determinate" style="width: 50%; background-color: #8000FF"></div>
  				</div>
  				<div id="letaltotal"></div>
			</div>
		</div>

		<div class="row stat">
			<div class="col s5">
			Cura
			</div>
			<div class="col s7">
				 <div class="progress" style="margin-top:15px">
      			<div id="curaporcentaje" class="determinate" style="width: 50%; background-color: #00FF00"></div>
  				</div>
  				<div id="porce_cura"></div>
  				<div id="curatotal"></div>
			</div>
		</div>

		</div>
	
	</div>
	
     <script type="text/template" id="tabletemplate"> 
	    <table> 
	      <tbody>
	      	<tr>
	      	<th>Estado</th>
	      	<th>Población</th>
	      	<th>Contagiados</th>
	      	<th>Muertes</th>
	      	</tr>
	        <% _.each(estados, function(estado, key, list) { %> 
	              <tr> 
	                  <td> <%= estado.nombre %></td>
	                  <td class=""> <%= estado.poblacion %></td>
	                  <td class=""> <%= estado.contagiados %></td>
	                  <td class=""> <%= estado.muertes %></td>
	              </tr>
	        <% });%>
	    </tbody > 
	   </table>
    </script>
  <script src="../js/script.js"></script>
</body>
</html>